@tailwind base;
@tailwind components;
@tailwind utilities;

.horizontal-slider {
  margin-right: 30px;
  width: 12rem;
  height: 5px;
  background-color: darkgrey;
}

.example-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
  background-color: white;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
}
:active.example-thumb {
  transform: scale(1.1);
  background-color: black;
  color: white;
}
